<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Template Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1><span th:text="#{sample.title}"></span></h1>
        <p><span th:text="#{sample.body}"></span> </p>

        <!--/*@thymesVar id="firstName" type="java.lang.String"*/-->
        <!--/*@thymesVar id="lastName" type="java.lang.String"*/-->
        <span th:text="#{sample.template(${firstName}, ${lastName})}"></span> </p>
    </body>
</html>
