<fieldset
        th:fragment="fieldset(fieldset)"
        xmlns:th="http://www.thymeleaf.org">
        <th:block th:each="field : ${fieldset.fields()}">
            <th:block th:if="${field.class.name} == 'io.micronaut.views.fields.InputHiddenFormElement'">
                <div th:replace="~{fieldset/_inputHidden :: field(${field})}"></div>
            </th:block>
            <th:block th:if="${field.class.name} == 'io.micronaut.views.fields.InputSubmitFormElement'">
                <div th:replace="~{fieldset/_inputSubmit :: field(${field})}"></div>
            </th:block>
            <th:block th:if="${field.class.name} == 'io.micronaut.views.fields.InputTimeFormElement'">
                <div th:replace="~{fieldset/_inputTime :: field(${field})}"></div>
            </th:block>
            <th:block th:if="${field.class.name} == 'io.micronaut.views.fields.InputTextFormElement'">
                <div th:replace="~{fieldset/_inputType :: field('text', ${field})}"></div>
            </th:block>
            <th:block th:if="${field.class.name} == 'io.micronaut.views.fields.InputEmailFormElement'">
                <div th:replace="~{fieldset/_inputType :: field('email', ${field})}"></div>
            </th:block>
            <th:block th:if="${field.class.name} == 'io.micronaut.views.fields.InputTelFormElement'">
                <div th:replace="~{fieldset/_inputType :: field('tel', ${field})}"></div>
            </th:block>
            <th:block th:if="${field.class.name} == 'io.micronaut.views.fields.InputUrlFormElement'">
                <div th:replace="~{fieldset/_inputType :: field('url', ${field})}"></div>
            </th:block>
            <th:block th:if="${field.class.name} == 'io.micronaut.views.fields.InputRadioFormElement'">
                <div th:replace="~{fieldset/_inputRadio :: field(${field})}"></div>
            </th:block>
            <th:block th:if="${field.class.name} == 'io.micronaut.views.fields.InputCheckboxFormElement'">
                <div th:replace="~{fieldset/_inputCheckbox :: field(${field})}"></div>
            </th:block>
            <th:block th:if="${field.class.name} == 'io.micronaut.views.fields.SelectFormElement'">
                <div th:replace="~{fieldset/_select :: field(${field})}"></div>
            </th:block>
        </th:block>
</fieldset>
