<th:block th:fragment="field(field)"
     xmlns:th="http://www.thymeleaf.org">
    <label
            class="form-label"
            th:text="${#strings.defaultString(#messages.msgOrNull(field.label().code()),field.label().defaultMessage())}"></label>
    <div class="form-check"
        th:each="radio : ${field.buttons()}">
        <input class="form-check-input"
               type="radio"
               th:required="${field.required()}"
               th:checked="${radio.checked()}"
               th:name="${field.name}"
               th:value="${radio.value}"
               th:id="${radio.id}"/>
        <label th:replace="~{fieldset/_label :: label(${radio.id()}, ${radio.label()})}"></label>
    </div>
</th:block>
