<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::title},~{::script},~{::main})}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{users.login}"></title>
        <script></script>
    </head>
    <body>
        <main>
            <turbo-frame id="main">
                <form th:replace="~{fieldset/form :: form(${form})}"></form>
                <div class="mt-3">
                    <a href="/users/create" th:text="${#strings.defaultString(#messages.msgOrNull('signup'),'Signup')}"/>
                </div>
            </turbo-frame>
        </main>
    </body>
</html>
