{namespace fail}

// Sample template.
{template .badsyntax}
  {if $loggedIn}
      <h1>username: <span>{$username}</span></h1>
  {else}
      <h1>You are not logged in</h1>
  {/badsyntax}
{/template}
